* {
    color: rgb(0, 0, 0);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("3956845.webp");
    background-position: 100% 100%;

    
}

#heading{
    color:rgb(25, 0, 60);
    font-size: 25px;
}
.container {
    background-image: url("/1540049.jpg");
    background-size: cover;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(231, 73, 73, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 0.3s;
    opacity: 0.5;
    
}

.container h2{
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-size: 40px;
}
.container:hover {
    background-color: rgb(146, 197, 153);
    transform: scale(1.05);



  
  
    
}
input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid rgb(18, 19, 18);
}



/* From Uiverse.io by mrhyddenn */ 
button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(7, 0, 65);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #001c2d;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(92, 182, 215);
    box-shadow: 0 0 30px 5px rgba(16, 30, 19, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #2d0035;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    border: 1px solid rgb(18, 19, 18);
    transition: box-shadow 0.2s ease-in;
  }

.weather-info {
    color:black;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    
}
.show {
    opacity: 1;
    transform: translateY(0);
}
img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}